<!-- start about -->
<div class="container about">
    <div class="row text-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
            <img src="../../../assets/images/news (2).jpg">
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
   
            <div class="col-lg-4 col-12 span">
                <span>من نحن</span>
            </div>
            
            <p>
                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد <br> هذا النص من مولد النص العربى، حيث يمكنك
                أن تولد مثل هذا  النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى <br> يولدها التطبيق. <br> إذا كنت
                تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة <br> عدد الفقرات كما تريد، النص لن يبدو مقسما
                ولا يحوي أخطاء لغوية،<br> مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث <br> يحتاج العميل فى كثير من
                الأحيان أن يطلع على صورة حقيقية لتصميم الموقع
            </p>
        </div>
    </div>
</div>

<!-- end about -->

