<!-- start footer -->

<footer>

    <div class="container">
        <div class="row text-center">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="text1">
                    <span> <span class="w">W</span>oman <span class="w">A</span>ccessories</span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في <br> نفس المساحة، لقد تم توليد هذا النص من مولد <br> النص
                        العربى، حيث يمكنك
                        أن تولد مثل هذا <br> النص أو العديد من النصوص الأخرى إضافة إلى <br> زيادة عدد الحروف التى يولدها
                        التطبيق </p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="list">
                    <ul>
                        <li class="row">
                            <div class="col-lg-12">
                                <span>الاقسام</span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-lg-12">
                                <span>الرئيسيه</span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-lg-12">
                                <span>من نحن</span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-lg-12">
                                <span>منتجاتنا</span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-lg-12">
                                <span>عروضنا </span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-lg-12">
                                <span>اخبارنا</span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <div class="col-lg-12">
                                <span>عملائنا</span>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <hr style="background-color: white; width: 100%;">
                                    </div>
                                    <div class="col-4 text-right">
                                        <img src="../../../assets/images/44.svg">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="icons row">

                    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-4 conect">
                        <span>معلومات التواصل</span>
                    </div>

                    <div class="col-12">
                        <div class="row" style="    padding: 0px 12px;">
                            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4" style="    padding: 0px;">
                                <input style="    width: 100%;">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 " style="    padding: 0px;">
                                <div class="but"> ارسال</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="icon">
                            <img src="../../../assets/images/facebookIcon.svg">
                            <img src="../../../assets/images/instaIcon.svg">
                            <img src="../../../assets/images/SnapIcon.svg">
                            <img src="../../../assets/images/twiiterIcon.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- end footer -->