/* start navbar */
.navbar{
 
    position: fixed;
    width: 100%;
    background-color: white;
    height: 66px;
    z-index: 3;
}

.navbar-toggler{
    outline: none;
}
.navbar-brand{
    margin: 10px 70px;
    padding-right: 50px;
}
.nav-link{

    font-size: 16px;
    text-transform: capitalize;
    color: #2F4858 !important;
    margin: 10px 0;
    border-bottom: 4px solid white ;
}
.nav-link:hover{
 
    color: #F83636 !important;
    border-bottom: 4px solid #F83636 ;
    border-radius: 2px;
}

.all-icon .iconic{

    height: 50px;
    width: 50px;
    justify-content: space-around;
    margin-left: 200px;
}
/* responsive */

@media ( max-width:991px){
    .navbar {
        display: block;
    }
    .navbar-brand{

        padding-right: 0px;
        margin: 0px 0px;
        float: right;
     
    }
    .all-icon .iconic{

        display: none;
    }
    .nav-link{

        margin: 0px 0;
    } 

    .navbar-nav{
        text-align: center;
        padding-right: 0px;
        background-color: white;
    }

}

@media (max-width:1125px){

    .all-icon .iconic{

        margin-left: 0px 
    
    }
}
@media (max-width: 400px) {
    .navbar-brand{
       width: 74%;
    }
}
/* end navbar */
