/* start services */

.services{

    background-color: #F6F6F6;
    margin-top: 50px;
}

.services .icons{

    display: flex;
    
}

.services .icons img{

    margin:  20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.services .icons span{

    padding-top: 40px;
    color: #2F4858;
    font-family: Tajawal, Regular;
    font-size: 18px;

}

/* end services */
