<!-- start news -->
<div class="container news">
    <h2>احدث الاخبار </h2>
    <p>
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا<br> النص او العديد من النص من مولد النص
        العربى، حيث يمكنك أن تولد مثل
    </p>

    <div class="row text-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img" src="../../../assets/images/news (1).jpg" alt="">

                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button >قراءة المزيد</button>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img"
                    src="../../../assets/images/1 (17).jpg" alt="">
                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button >قراءة المزيد</button>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img" src="../../../assets/images/news (3).jpg" alt="">
                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button>قراءة المزيد</button>

                </div>
            </div>
        </div>
   
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img" src="../../../assets/images/news (1).jpg" alt="">

                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button >قراءة المزيد</button>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img"
                    src="../../../assets/images/1 (17).jpg" alt="">
                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button >قراءة المزيد</button>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img" src="../../../assets/images/news (3).jpg" alt="">
                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button>قراءة المزيد</button>

                </div>
            </div>
        </div>
   
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img" src="../../../assets/images/news (1).jpg" alt="">

                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button >قراءة المزيد</button>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img"
                    src="../../../assets/images/1 (17).jpg" alt="">
                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button >قراءة المزيد</button>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="our-news row">
                <img class="img" src="../../../assets/images/news (3).jpg" alt="">
                <div class="col-lg-12">
                    <span>اسم الخبر </span>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص او العديد من النص من
                        مولد النص
                    </p>

                    <button>قراءة المزيد</button>

                </div>
            </div>
        </div>
    </div>
        </div>

<!-- end news -->

