
/* start news */

.news h2{

    text-align: center;
    color: #F83636;
    margin-bottom: 20px;
    font-family: Tajawal,Regular;
    margin-top:50px;
}

.news p{
    text-align: center;
    font-family: Tajawal,Regular;
    color: #2F4858;
    font-size: 18px;
}

.news .our-news .img{

    width: 90%;
    height: 250px;
    margin-top: 40px;
    margin: 10px;
}
.news .our-news span{
  
    color:#F83636 ;
    font-size: 20px;
    font-family: tagwal,regular;
}


.news .our-news button {
  
    height: 45px;
    width: 130px;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 50px;
    color: white;
    font-family: Tajawal,Regular;
    border-radius: 5px;
    border: 1px solid #F83636 ;
    color:#2F4858 ;
    background-color: white;

}

.news .our-news button:hover{

    background-color: #F83636;
    color: white;
}

/* end news */

